#tree li{
    z-index: 1000;
}
.association th,.association tb{
    text-align: center;
}
.panel .panel-body{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.panel .resultFull,.panel .searchFull,.panel .filterFull{
    height: 200px;
    overflow: auto;
}
.panel .resultSmall,.panel .searchSmall,.panel .filterSmall{
    height: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    padding: 0;
}
.drag-enter{
    border:1px solid #F00;
}
.to-right{
    float: right;
    cursor: pointer;
    margin-right: 5px;
}
form label{
    margin-top: 6px;
}